*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background:rgb(0, 0, 0);
	color:rgb(145, 133, 133);
}
.container{
	display:flex;
    justify-content:space-between;
	margin-left:100px;
	margin-right:100px;
	margin-top:20px;
    margin-bottom:10px;
    background-color: gray;
    color:rgb(145, 133, 133);
}
.container a{
    color: white;
    text-decoration: none;
}
.container a:hover {
  background-color:black;
  color: gray;
}
.movie {
    margin-top: 50px;
}

section {
    position: relative;
    background-color:gray;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    transition: 250ms all;
}

section .imageContainer {
    flex: 0 0 auto;
}

.content {
    display: none;
    position: relative;
    min-height: 200px;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 20px;
}


.content-display {
    display: block;
}


.content-display {
    display: block;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.content div {
    margin: 10px;
}


#content-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    padding: 10px;
    width: 35px;; 
    border: 1px solid lightgrey;
    border-radius: 45%;
    left: 20px;
}


.imageContainer {
    transition: 250ms all;
    width: 300px;
}


.imageContainer:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.imageContainer {
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.imageContainer img {
    width: 100%;
}

.btn {
    color:gray;
    background-color:black;
    border-color: #silver;
    outline:none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

/*
@media only screen and (min-width : 320px) and (max-width : 767px){
    .placeholder_inline20_size {
    width: 320px;
    height: 50px;
    }
    }
    @media only screen and (min-width : 768px) and (max-width : 1023px){
    .placeholder_inline20_size {
    width: 728px;
    height: 90px;
    }
    }
    @media only screen and (min-width : 1024px) and (max-width : 1279px){
    .placeholder_inline20_size {
    width: 970px;
    height: 250px;
    }
    }
    @media only screen and (min-width : 1280px) and (max-width : 9999px){
    .placeholder_inline20_size {
    width: 970px;
    height: 250px;
    }
    }*/
.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 760px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: white;
    background-color:greay;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
@media screen and (max-width: 992px) {
  .container a{
	display:flex;
	flex-wrap:wrap;
    color: white;
    text-decoration: none;
	justify-content:space-between;
	
  }
}
@media screen and (max-width: 600px) {
  .container a{
	display:flex;
	flex-wrap:wrap;
    color: white;
    text-decoration: none;
	justify-content:space-between;
	
  }
}
span .logo {
	color:black;
	font-weight:30px;
	background-color:rgb(228, 228, 19);
}
.input{
	background-color:white;
	color:black;
	width:800px;
	height:30px;
}
div.imdb{
	display:flex;
	justify-content:space-around;
}
@media screen and (max-width: 600px) {
	div.imdb{
		display:none;
	}
}
div.watch{
	display:flex;
	justify-content:space-around;
}
@media screen and (max-width: 600px) {
	div.watch{
		display:none;
	}
}
/*slider work*/

body{
	background-color:black;
	font-family: sans-serif;
}

.slider{
	max-width: 700px;
	border:10px solid black;
	margin:80px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: black;
  border-box: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color:yellow;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 30px;

}

.slider .slider-items .item.active{
	display: block;
}



.img1{
    display: flex;
    justify-content: center;
    margin-left:20px;
    margin-right: 20px;
}
.ft{
    margin-left:5px;
    color:yellow;
}
#ft{
    margin-left:100px;
    margin-right: 100px;
}
#ft img{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px;
    widows: 15em;
    height:20em;
}
.wt{
    margin-left:5px;
    color:yellow;
}
#wt{
    margin-left:100px;
    margin-right: 100px;
}
#wt img{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px;
    widows: 15em;
    height:20em;
}
.fyw1{
    color:yellow;
    margin-left:100px;
    margin-top: 40px;
    margin-bottom:40px;

}
.fyw {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 40px;
    margin-bottom:40px;
}

.si a{
    background:rgb(231, 231, 8);
    color:black;
    text-decoration:none;
}

.ff1{
    margin-left:5px;
    color:yellow;
}
.ff{
    margin-left:100px;
    margin-right: 100px;
}
.ff img{
    display: flex;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px;
    widows: 15em;
    height:20em;
}
/*
#ff img{
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    justify-content: space-around;
    height:400px;
    width:200px;
    margin-left:100px;
    margin-bottom:20px;
}*/
#it{
    margin-left:100px;
    margin-top: 30px;
    color:yellow;
}
.it{
    display: flex;
    margin-left:100px;
    margin-right: 100px;
}
.it img{
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 100%;
    padding: 0px;
    width: 15em;
    height:20em;
}

footer{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  @media screen and (max-width: 992px) {
      .foot a{
          background:rgb(83, 83, 38);
          color:black;
          font-weight:30px;
          text-decoration:none;
          margin-top: 100px;
          margin-left: 100px;
          margin-right: 100px;
              
          }
  }
  @media screen and (min-width: 600px) {
     div.foot{
      display: none;
      margin-left:100px;
      margin-right:100px;
  }
  }
  .foot1{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-bottom: 100px;
    font-size: 1.5rem;
}
  .foot2{
    display:flex;
      flex-wrap:wrap;
      justify-content:space-around;
      margin-left:100px;
      margin-right:100px;
      margin-bottom: 20px;
 }
 @media screen and (min-width: 100px) {
    .foot2 a{
    text-decoration:none;
    color: white;
    }
    }
 .foot3{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-left:100px;
    margin-right:100px;
 }
  @media screen and (min-width: 100px) {
  .foot3 a{
    text-decoration:none;
    color: white;
  }
  }

  .footlast{
      display:flex;
      flex-wrap:wrap;
      flex-direction: column;
      align-items:center;
      font-size: 2rem;
      margin-top: 50px;
      margin-bottom: 100px;
  }
  .cr{
      font-size: 1rem;
      color: white;
      margin-top: 10px;
  }
